<div class="h-100 mb-5">
    <div class="masthead d-flex flex-column align-items-center justify-content-center h-100 w-100 text-light" style="background: #192a56;">
        <h1>Congratulations, <span class="text-warning"> <%= @winner_pokemon.name %> </span>is the Winner!</h1>
        <%= image_tag @winner_pokemon.image_url, class: "h-50 w-25" %>
        <hr class="border border-3 border-light w-75">
        <div class="text-center">
            <div class="site-heading">
                <h2 class="my-auto font-weight-bold">The battle ended at <%= @battle.updated_at.localtime.strftime('%a, %e %B %H:%M') %></h2>
            </div>
            <div class="site-heading my-2">
                <%= link_to 'Back to Home', root_url, class: "btn btn-light text-dark font-weight-bold px-5 py-2" %>
            </div>
        </div>
    </div>
</div>