/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.font-weight-bold { font-weight: bold!important; }
.border-right { border-right: 1px solid #dee2e6!important; }
.flex-basis-10 { flex-basis:10%; }
.flex-basis-15 { flex-basis:15%; }
.flex-basis-25 { flex-basis:25%; }
.flex-basis-35 { flex-basis:35%; }
.flex-basis-45 { flex-basis:45%; }
.flex-basis-50 { flex-basis:50%; }
.flex-basis-100 { flex-basis:100% }
.bg-ice { background: rgba(0, 0, 0, .6); }
.grayscale { filter: grayscale(100%); }

.mnh-100 { min-height: 100%!important }

.pagination * {
    margin: 0 5px;
    font-weight: bold;
    text-decoration: none;    
}
.pagination a {
    color:rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}
.pagination .current {
    color: #0d6efd;
}
/*.masthead { background: #192a56; }*/