<div class="alert-box position-absolute top-0 end-0 overflow-hidden w-25 my-1 mx-1" style="max-height: 50%;">
<% flash_length=0 %>
<% flash.each.with_index do |message, index| %>
  <div class="alert alert-<%= message[0] %> w-100 my-3">
    <p class="m-0 font-weight-bold"><%= message[1] %></p>
    <script type="text/javascript">setTimeout(()=>{document.querySelector('.alert').remove();}, 2000*parseInt('<%= index+1 %>')) </script>
  </div>
  <% flash_length+=1 %>
<% end %>
  <script type="text/javascript">setTimeout(()=>{document.querySelector('.alert-box').remove();}, 2000*parseInt('<%= flash_length %>')) </script>
</div>
